:root {
  font-size: 62.5%;
  scroll-behavior: smooth;

  body {
    font-family: $font-mulish;
    font-size: 1.6rem;
    line-height: 1.8;
    margin: 0;
  }
}

.container {
  margin: auto;
  max-width: 108.8rem;
  position: relative;
  width: 100%;
  z-index: 10;
}

.button {
  border-radius: 1rem;
  border: 3px solid $color-primary;
  font-size: 1.6rem;
  padding: 1.5rem 3rem;
  transition: all .1s ease; 

  &--primary {
    color: white;
    background-color: $color-primary;
  }

  &--secondary {
    color: $color-primary;
  }

  @media (hover: hover) {
    &:hover {
      transform: scale(105%);
    }
  }

  @media (min-width: map-get($grid-breakpoints, 'lg')) {
    font-size: 2rem;
    padding: 2rem 4rem;
  }
}

.section {
  padding: 9rem .8rem;
  text-align: center;

  &__title {
    font-size: 3.6rem;
    margin-bottom: 2rem;
    margin-top: 7rem;

    &:first-child {
      margin-top: 0;
    }
  }

  &--primary {
    background-color: $color-primary;
    color: white;
  }
  
  @media (min-width: map-get($grid-breakpoints, 'md')) {
    text-align: left;

    &__title {
      font-size: 5rem;
    }
  }
}

.swiper {
  background: $color-primary;
  height: auto;
  padding-top: 3rem;
  width: 100%;

  .swiper-button-prev, .swiper-button-next {
    color: white;
  }  
}