@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&family=Mulish:wght@300;500;700&family=Nothing+You+Could+Do&display=swap');

$font-josefin: 'Josefin Sans', sans-serif;
$font-mulish:'Mulish', sans-serif;
$font-nothing: 'Nothing You Could Do', cursive;

$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1366px,
);

$color-primary: #81D3AD;
$color-secondary: #E6ECC0;
