.about-snippet {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  grid-template-columns: 2fr auto;

  &__content {
    background-color: white;
    border-radius: 1rem;
    color: black;
    padding: 3rem;
    text-align: left;
  }

  &__image {
    border-radius: 1rem;
    width: 100%;
    max-width: 36rem;
    margin: auto;
  }

  @media (min-width: map-get($grid-breakpoints, 'md')) {
    flex-direction: row;

    &--reversed {
      flex-direction: row-reverse;
    }
  }

  @media (min-width: map-get($grid-breakpoints, 'lg')) {
    &__content {
      padding: 6rem;
    }
  }
}