.about-snippet {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr;

  &__content {
    background-color: white;
    border-radius: 1rem;
    color: black;
    padding: 3rem;
    text-align: left;
  }

  &__image {
    border-radius: 1rem;
    height: 50rem;  
    margin: auto;
    
  }

  @media (min-width: map-get($grid-breakpoints, 'md')) {
    gap: 2rem;
    grid-template-columns: 2fr auto;
  }

  @media (min-width: map-get($grid-breakpoints, 'lg')) {
    &__content {
      padding: 6rem;
    }
  }
}