.contact {
  display: grid;
  gap: 0rem;
  grid-template-columns: 1fr;
  height: 70rem;

  &__name {
    font-size: 3.2rem;
  }

  &__info {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    gap: 1rem;
    justify-content: center;
    text-align: center;
  
    & > a {
      border-bottom: 2px solid $color-primary;
      transition: all .2s ease-in-out;

      @media (hover: hover) {
        &:hover {
          border-bottom-color: white;
        }
      }
    }
  }

  &__icon {
    margin-right: 1.2rem;
  }

  &__map {
    width: 100%;
  }

  @media (min-width: map-get($grid-breakpoints, 'md')) {
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
    height: 50rem;

    &__name {
      font-size: 5rem;
    }
  }
}