.footer {
  align-items: center;
  background-color: $color-primary;
  border-top: 2px solid white;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: $font-mulish;
  font-size: 1.4rem;
  font-weight: medium;
  height: 6rem;
  justify-content: space-between;
  letter-spacing: .05rem;
  padding: 2.4rem 5rem;

  @media (min-width: map-get($grid-breakpoints, 'md')) {
    flex-direction: row; 
    padding: 0 5rem;
  }
}
