.header {
  align-items: center;
  background-color: $color-primary;
  border-bottom: 2px solid white;
  box-sizing: border-box;
  display: flex;
  height: 8rem;
  justify-content: space-between;
  padding: 0 5rem;
  position: fixed;
  width: 100%;
  z-index: 100;

  &__logo {
    color: white;
    font-family: $font-nothing;
    font-size: 4rem;
  }
}