.nav {
  color: white;
  display: flex;
  flex-direction: row;
  font-family: $font-mulish;
  justify-content: space-around;
  width: 100%;
  
  &__item {
    border-bottom: 2px solid $color-primary;
    font-size: 1.7rem;
    letter-spacing: .15rem;
    transition: all .2s ease-in-out;

    @media (hover: hover) {
      &:hover {
        border-bottom-color: white;
      }
    } 
  }

  @media (min-width: map-get($grid-breakpoints, 'md')) {
    gap: 5rem;
    width: auto;

    &__item {
      padding: .7rem 0;
    }
  }
}