.services {
  border-radius: 1rem;
  border: 3px solid $color-primary;
  display: grid;
  grid-template-columns: 1fr;
  margin: 3rem auto;
  width: 90%;

  
  &__tile {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    height: 20rem;
    justify-content: center;
    padding: 2.4rem;
    text-align: center;
    width: 100%;

    &:nth-child(2), &:nth-child(4), &:nth-child(6) {
      background-color: $color-primary;
      color: white;
    }
  }

  &__price {
   text-align: center;
    font-size: 2rem;

    &-icon {
      margin-right: 1rem;
    }
  }

  &__icon {
    font-size: 7rem;
    margin-bottom: 2.2rem;
  }

  @media (min-width: map-get($grid-breakpoints, 'sm')) {
    grid-template-columns: 1fr 1fr;
  }


  @media (min-width: map-get($grid-breakpoints, 'md')) {
    grid-template-columns: 1fr 1fr 1fr;

    &__tile {
      height: 30rem;

    }
  }
}
